*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}
body{
    background-image: linear-gradient(180deg, #212126 0%, #212126 69.79%, #212126 99.99%, #212126 100%);
    color: white;
    
}

.navbar{
    display: flex;
    /* justify-content: space-around; */
     gap: 20px;
    /* margin: auto 0; */
    align-items: center;
    height: 68px;
    position: relative;
}
.logo img {
    width: 186px;
    height: 36px;
}
.navebar-items ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
.navebar-items a{
    text-decoration: none;
    color: white;
}
.color{
    color: #6851ff !important;
}
.icon{
    font-size: 34px;
    color: #6851ff !important;
}
.bar{
    font-size: 32px;
    color: #6851ff !important;
    display: none;
}
.margin{
    display: none;
}
/* hero section */
.main{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    padding: 20px;
}
.box{
    width: 48%;
    
    height: 500px;
    /* border: 1px solid white; */
    /* text-align: center; */
}
.box img{
    width: 80%;
    
}
.imgt{
    width: 100%;
    max-width: 600px;
    text-align: center;
    background-color: #292930;
    border-radius: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}
.box h4{
    font-size: 40px;
    color: #FFFFFF;
    line-height: 60px;
    font-weight: bold;
}
span{
    color: #6851ff;
}
/* secton hero 2 */
.card-hero2{
    width: 600px;
    border: 1px solid white;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.card-hero2 h4{
    font-size: 24px;
    color: #6851ff;
}
.content-hero2{
    width: 700px;
    /* border: 1px solid 0white; */
    height: 400px;
    padding: 10px;
}
.content-hero2 h4{
    font-size: 24px;
    margin-bottom: 10px;    
}
.content-hero2 p{
    margin-bottom: 20px;
    /* letter-spacing: 2px; */
    /* line-height: 25px; */
    /* color: ; */
}

/* hero3 */
.hero3container{
    display: flex;
    /* border: 1px solid white; */
    flex-wrap: wrap;
    width: 3000px;
    padding: 20px;

}
.hero3boxs{
    flex-basis: 45%;
    /* border: 1px solid white; */
    text-align: center;
    padding: 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.hero3boxs img{
    width: 100%;
    max-width: 250px;
    height: auto;
}
.hero3{
    border: 1px solid white;
    flex-basis: 100%;
    padding-top: 50px;
    text-align: center;
    background-color: #fef08a;
    color: black;
    border-radius: 20px;

}
.hero3 h4{
    font-size: 24px;
    margin-bottom: 50px;
}
.hero3b{
    background-color: #facde6;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    color: black;
    border-radius: 20px;
}
.hero3b h4{
    font-size: 24px
    
}
.hero3 img{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: 50px;
}
/* hero4 */
/* .hero4{
    
}  */
.with{
    flex-basis: 45%;
    /* height: 336px; */
    /* border: 1px solid white; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.with img{
    width: 432px;
    height: auto;
    /* margin-left: 100px; */
}
.heading{
    padding: 20px;
    height: 68px;
    width: 100%;
    text-align: center;
}
.hero5cards{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    margin-top: 30px;
    flex-basis: 40%;
    /* border: 1px solid white; */
    padding: 20px;
    background-color: #292930;
    border-radius: 10px;
    margin-bottom: 50px;

}
.card h2{
    color: #6851ff;
}
.h6card{
    width: 304px;
    height: 400px;
    /* border: 1px solid white; */
    background-color: #292930;
    border-radius: 10px;
}
.h6card img{
    width: 300px;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}
.h6card h3{
    color: #6851ff;
    padding: 10px;
}
.h6card p{
    padding: 10px;
}
.hero6cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.formpart{
    width: 900px;
    /* height: 600px; */
    /* border: 1px solid white; */
    padding: 30px;
        display: flex;
        background-color: #292930;
        border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input{
    width: 100%;
    height: 68px;
    /* border: 1px solid white; */
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: #6851ff;

}
.input input{
    width: 45%;
    height: 56px;
    padding-inline-start: 10px;
    border-radius: 20px;
    outline: #212126;
    background-color: #292930;
    color: #6851ff;

}
.inpue{
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

}
.inpue input{
    width: 95%;
        height: 56px;
    padding-inline-start: 10px;
    border-radius: 20px;
    outline: #212126;
    background-color: #292930;
    color: #6851ff;
}
.inpuM{
    width: 100%;
    height: 150px;
    /* border: 1px solid white; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

} 
.inpuM input{
    width: 95%;
    height: 145px;
        padding-inline-start: 10px;
    border-radius: 20px;
    outline: #212126;
    background-color: #292930;
    color: #6851ff;

}
.formbtn{
    padding: 20px;
    margin-top: 50px;
    background-color: #6851ff;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    border: none;

}


.footer{
background: linear-gradient(#5C3EE3, #9447FE); 
  color: #fff;
  padding: 50px 40px;
  font-family: Arial, sans-serif;
}

.footer-top{
  text-align: center;
  margin-bottom: 40px;
}

.footer-top h3{
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
}

.footer-top .desc{
  max-width: 700px;
  margin: 0 auto 25px auto;
  font-size: 15px;
  line-height: 1.6;
  color: #ccc;
}

.follow-title{
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.social-ican a{
  color: #fff;
  font-size: 22px;
  margin: 0 8px;
  text-decoration: none;
  transition: 0.3s;
}

.social-ican a:hover{
  color: #5b45ff;
}

.footer-links{
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.footer-links .col h4{
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: 600;
}

.footer-links .colam a,
.footer-links .colam p{
  display: block;
  color: #ccc;
  margin-bottom: 8px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.footer-links .col a:hover{
  color: #5b45ff;
}

.footer-b p{
  text-align: center;
  font-size: 14px;
  color: #888;
  border-top: 1px solid #333;
  padding-top: 15px;
}


@media(max-width:786px){
    .logo img{
        width: 150px;
        height:auto;
    }
    .navebar-items{
        position: absolute;
        top: 1px;
        padding: 20px;
        /* right: 250px; */
        height: 100vh;
        background-color: white;
        top: 0;
        width: 200px;
        /* right: -100px; */
        left: -250px;
        text-align: left;
        z-index: 2;
    }
    .margin{
        font-size: 24px;
        margin-left: 100px;
        display: block;
    }
    .navebar-items ul {
        flex-direction: column;
        color: black;
        
    }
    .navebar-items a{
        color: black;
    }
.bar{
    display: block;

}
.main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.box{
    width: auto;
    height: auto;
    text-align: center;
}
.imgt{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgt img{
    width: 340px;

}
.card-hero2{
    width: auto;
    height: auto;
    padding: 50px;
}
.card-hero2 h1{
    font-size: 24px;
}
.content-hero2{
    width: auto;
    height: auto;
    font-size: 14px;
}
.content-hero2 p{
    font-size: 10px;
}
.hero3boxs{
 margin: 10px;
 width: 100%;
    
}
.hero3container{
    width: 100%;
    flex-direction: column;
}
.hero3boxs{
    flex-basis: 20%;
}
.hero3b{
    width: 340px;
}
}
