* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


body {
    background-image: linear-gradient(180deg, #212126 0%, #212126 69.79%, #212126 99.99%, #212126 100%);
    color: white;
}

.header {
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 16px;
}

.logo img {
    width: 186px;
    height: 36px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.switchIcon span {
    font-size: 32px;
    color: white;
}

.postJobBtn {
    color: #6851ff !important;
    font-weight: bold;
}


.heroSection {
    /* border: 1px solid white; */
    margin-top: 30px;
    padding: 16px;

}

.heroSection h1 {
    color: white;
    font-size: 80px;
    text-align: center;
    background: linear-gradient(106.43deg, #522fd4, #6bdcff 95.12%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}


.webSwitch {
    border: 2px solid rgba(255, 255, 255, 0.2);
    /* width: 350px; */
    margin: 0 auto;
    padding: 6px;
    width: max-content;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.6s ease;

}

.webSwitch:hover {
    transform: scale(1.1);
    box-shadow: rgba(104, 81, 255, 0.3) 0px 12px 40px;
}

.webSwitch button {
    width: 150px;
    height: 60px;
    border: none;
    border-radius: 40px;
    /* background-color: #bb86fc; */
    background-color: #522fd4;
    color: white;
    font-weight: bold;
}

.applyBtn {
    background-color: transparent !important;
    color: #ffffffb3 !important;
}

.heroSection .desc {
    /* color: #fff; */
    /* border: 1px solid red;
    text-align: center;
    width: 60%;
    margin: 30px auto; */
    /* border: 1px solid red; */
    width: 55%;
    margin: 30px auto;
    text-align: center;
}


.findTalentBtn {
    width: 140px;
    height: 50px;
    border-radius: 40px;
    border: none;
    display: block;
    margin: 0 auto;
    color: white;
    background: linear-gradient(135deg, rgb(0, 168, 204), rgb(0, 151, 230));
}

.roles {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.roles h2 {
    color: #522fd4;
}

.tabParent {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}

.roles .tab {
    border: 1px solid #522fd4;
    padding: 4px 12px;
    border-radius: 8px;
    width: max-content;
}

.tab p {
    margin: 0;
    font-size: 14px;
    color: #522fd4;
    font-weight: bold;
}


.centerLayout {
    width: 65%;
    margin: 0 auto;
}

.agentUi {
    /* border: 1px solid red; */
    margin-top: 20px;
}

.agentUi h1 {
    font-size: 50px;
    text-align: center;
    background: linear-gradient(106.43deg, #522fd4, #6bdcff 95.12%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;

}


.chatBox {
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 20px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.chatBoxheader {
    border-bottom: 1px solid white;
    padding: 8px;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12px;

}

.chatBoxheader i {
    color: #522fd4;
}

.chatBoxheader p {
    margin: 0;
}

.chatBoxBody {
    padding: 24px;
    border-bottom: 1px solid white;
    flex: 8;

}

.chatBoxBody p{
    background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1));
    width: 60%;
    padding: 24px;
    border-radius: 20px;

}

.chatBoxFooter {
    padding: 8px;
    flex: 1;
    width: 100%;
    display: flex;
    gap: 25px;
}

.chatBoxFooter input {
    display: block;
    width: 95%;
    border: none;
    outline: none;
    border: 1px solid  rgba(255, 255, 255, 0.1);
    background-color: transparent;
    padding: 0 16px;
    border-radius: 8px;
    color: white;
}

.chatBoxFooter .sendBtn {
        width: 5%;
        background-color: #522fd4;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        cursor: pointer;
        
}
/* herobaner */
.herobaner{
    width: 100%;
    height: 390px;
    /* border: 1px solid white; */

}
.herobaner img{
    width: 100%;
        background-position: center;
}
/* pra Quick steps */
.containtquick{
    text-align: center;
}
.containtquick h1{
    font-size: 50px;
    text-align: center;
    font-weight: 800;
}
.containtquick h1 span{
    color: #522fd4;
}
.containtquick p{
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 5px;
}
/* latest Talent */
.latestcontant h1{
    font-size: 60px;
    text-align: center;
    font-weight: 800;
    color: #522fd4;
}
.lestcard{
    display: flex;
    justify-content: space-between;
}
.latestbox1{
    
    width: 350px;
    /* height: 300px; */
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.latestimg{
    width:342px ;
    height: 100px;
    background-image: url(./image/latestimg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.latestimg i{
    font-size: 80px;
    width: 110px;
    height: 110px;
    position: absolute;
    left:115px ;
    top: 35px;
    color: #212126;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: white;
}
.latestbox1 h4{
    color: #522fd4;
    font-size: 20px;
    margin-top: 45px;
    font-weight: 800;
    padding: 0;

}
.latestbox1 p{
    color: #522fd4;
    margin: 0;
    padding: 0;
}
.latestbtn{
    display: flex;
    gap: 5px;
    height: 90px;
    align-items: center;
    
}
.latestbtnt{
    background-color: #1D1B1B;
    padding: 10px 10px;
    /* border: 1px solid white; */
    border-radius: 10px;
}

.quickStepContainer{
    margin-top: 50px;
}
.color{
     color: rgb(104, 81, 255);;
}
.stepCard{
    border: 1px solid white;
    /* width: 250px; */
    text-align: center;
    padding: 16px;
    border-radius: 16px;
}


.rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}


.footer{
background: linear-gradient(#5C3EE3, #9447FE); 
  color: #fff;
  padding: 50px 40px;
  margin-top: 50px;
}

.footer-top{
  text-align: center;
  margin-bottom: 40px;
}

.footer-top h3{
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
}

.footer-top .desc{
  max-width: 700px;
  margin: 0 auto 25px auto;
  font-size: 15px;
  line-height: 1.6;
  color: #ccc;
}

.follow-title{
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.social-ican a{
  color: #fff;
  font-size: 22px;
  margin: 0 8px;
  text-decoration: none;
  transition: 0.3s;
}

.social-ican a:hover{
  color: #5b45ff;
}

.footer-links{
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.footer-links .col h4{
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: 600;
}

.footer-links .colam a,
.footer-links .colam p{
  display: block;
  color: #ccc;
  margin-bottom: 8px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.footer-links .col a:hover{
  color: #5b45ff;
}

.footer-b p{
  text-align: center;
  font-size: 14px;
  color: #888;
  border-top: 1px solid #333;
  padding-top: 15px;
}



/* @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
} */